{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/bootstrap.min.css' %}" />
    <title>Lalisa - Admin Panel</title>
    {% csrf_token %}
    <script>
        // JavaScript-də CSRF tokenini əldə etmək üçün funksiya
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Cookie adı ilə başlayırsa
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
    </script>
  </head>
  <body style="background-color: rgba(245, 246, 250, 1)">
    <section id="layout">
      <div id="sidebar">
        <div>
          <img src="{% static 'images/logo-lalisa.png' %}" alt="" />
        </div>
        <div class="sidebar-routes">
          <a href="statistics.html">
            <div class="route d-flex">
              <i class="fa-solid fa-chart-simple"></i>
              Statiska
            </div>
          </a>
          <a href="calendar.html">
            <div class="route d-flex active">
              <i class="fa-regular fa-calendar-days active"></i>
              Təqvim
            </div>
          </a>
          <a href="users.html">
            <div class="route d-flex">
              <i class="fa-solid fa-user"></i>
              İstifadəçilər
            </div>
          </a>
          <a href="services.html">
            <div class="route d-flex">
              <i class="fa-solid fa-gear"></i>
              Xidmətlər
            </div>
          </a>
          <a href="notification.html">
            <div class="route d-flex">
              <i class="fa-regular fa-message"></i>
              Bildiriş
            </div>
          </a>
          <a href="treatment.html">
            <div class="route d-flex">
              <i class="fa-regular fa-heart"></i>
              Müalicə
            </div>
          </a>
          <a href="cashback.html">
            <div class="route d-flex">
              <i class="fa-solid fa-wallet"></i>
              Cashback
            </div>
          </a>
          <a href="#">
            <div class="route d-flex">
              <i class="fa-solid fa-file-lines"></i>
              Səhifələr
            </div>
          </a>
          <a href="discount-code.html">
            <div class="route d-flex">
              <i class="fa-solid fa-square-binary"></i>
              Endirim kodu
            </div>
          </a>
          <a href="doctors.html">
            <div class="route d-flex">
              <i class="fa-solid fa-heart-pulse"></i>
              Həkimlər
            </div>
          </a>
          <a href="laser.html">
            <div class="route d-flex">
              <i class="fa-solid fa-charging-station"></i>
              Lazer atış istifadəsi
            </div>
          </a>
        </div>
      </div>
      <div id="responsive-sidebar">
        <div>
          <img src="{% static 'images/small-logo.png' %}" alt="" />
        </div>
        <div class="sidebar-routes">
          <div class="route d-flex">
            <a href="statistics.html"><i class="fa-solid fa-chart-simple"></i></a>
          </div>
          <div class="route d-flex active">
            <a href="calendar.html"><i class="fa-regular fa-calendar-days"></i></a>
          </div>
          <div class="route d-flex">
            <a href="users.html"><i class="fa-solid fa-user"></i></a>
          </div>
          <div class="route d-flex">
            <a href="services.html"><i class="fa-solid fa-gear"></i></a>
          </div>
          <div class="route d-flex">
            <a href="notification.html"><i class="fa-regular fa-message"></i></a>
          </div>
          <div class="route d-flex">
            <a href="treatment.html"><i class="fa-regular fa-heart"></i></a>
          </div>
          <div class="route d-flex">
            <a href="cashback.html"><i class="fa-solid fa-wallet"></i></a>
          </div>
          <div class="route d-flex">
            <a href="#"><i class="fa-solid fa-file-lines"></i></a>
          </div>
          <div class="route d-flex">
            <a href="discount-code.html"><i class="fa-solid fa-square-binary"></i></a>
          </div>
          <div class="route d-flex">
            <a href="doctors.html"><i class="fa-solid fa-heart-pulse"></i></a>
          </div>
          <div class="route d-flex">
            <a href="laser.html"><i class="fa-solid fa-charging-station"></i></a>
          </div>
        </div>
      </div>
      <div id="navbar">
        <div class="navbar-container">
          <div class="d-flex align-items-center">
            <div>
              <i class="fa-solid fa-bars"></i>
              <i class="fa-solid fa-arrow-right d-none"></i>
            </div>
            <div class="search-box">
              <i class="fa-solid fa-magnifying-glass"></i><input type="search" placeholder="Search" />
            </div>
          </div>
          <div class="d-flex align-items-center">
            <div>
              <i class="fa-regular fa-bell"></i>
            </div>
            <div class="d-flex align-items-center">
              <div>
                <img class="user-picture" src="{% static 'images/mini-profile-picture.png' %}" alt="" />
              </div>
              <div class="d-flex align-items-center">
                <div class="username">Farid Mirzayev</div>
                <div class="user-dropdown-menu-main">
                  <i class="fa-solid fa-chevron-down"></i>
                  <div class="user-dropdown-menu">
                    <button class="d-flex gap-2"><i class="fa-solid fa-gear"></i>Tənzimləmələr</button>
                    <button class="d-flex gap-2"><i class="fa-solid fa-right-from-bracket"></i><a href="index.html">Çıxış</a></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% block main %}

    {% endblock %}
    <div id="overlay"></div>

    <script src="{% static 'scripts/calendar.js' %}"></script>
    <script src="{% static 'scripts/cashback.js' %}"></script>
    <script src="{% static 'scripts/discount-code.js' %}"></script>
    <script src="{% static 'scripts/doctor.js' %}"></script>
    <script src="{% static 'scripts/services.js' %}"></script>
    <script src="{% static 'scripts/sidebarToggle.js' %}"></script>
    <script src="{% static 'scripts/statistics.js' %}"></script>
    <script src="{% static 'scripts/treatment.js' %}"></script>
    <script src="{% static 'scripts/users.js' %}"></script>
  </body>
</html>
