* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$active-color: rgba(84, 186, 79, 1); 
$text-color: rgba(75, 85, 99, 1);
$icon-size: 18px;

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}


@import "layout";
@import "index";
@import "calendar";
@import "users";
@import "notification";
@import "discount-code";
@import "cashback";
@import "doctors";
@import "treatment";
@import "statistics";
@import "laser";
@import "services";
