{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/bootstrap.min.css' %}" />
    <title>Lalisa - Login</title>
  </head>
  <body>
    <section id="main">
      <img class="clip-img" src="{% static 'images/login-clip-path.png' %}" alt="Clip" />
      <section id="animation">
        <img src="{% static 'images/login-animation.png' %}" alt="Animation" />
      </section>
      <section id="login-form">
        <div class="main-box">
          <img src="{% static 'images/logo-lalisa.png' %}" alt="" />
          <p class="img-title">Estetik Mərkəz</p>
          <h2>Hesabınıza daxil olun</h2>
          <p>Yenidən xoş gəlmisiniz! Zəhmət olmasa məlumatınızı daxil edin</p>
          
          {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li style="color: red;" class="message {{ message.tags }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          
          <form method="post" action="{% url 'login_submit' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">E-poçt</label>
              <br />
              <input type="text" placeholder="E-poçt" name="email" required />
            </div>
            <div class="form-group">
              <label for="password">Parol</label>
              <br />
              <input type="password" placeholder="Parol" name="password" required />
            </div>
            <div class="remember-me">
              <div class="remember-button" id="remember-toggle"></div>
              <input
                type="hidden"
                name="remember_me"
                id="remember-me-input"
                value="0"
              />
              <div class="remember-title">Məni xatırla</div>
            </div>
            <button class="submit">Daxil ol</button>
          </form>
        </div>
      </section>
    </section>

    <script src="{% static 'scripts/main.js' %}"></script>
  </body>
</html>
