{% extends 'layout.html' %}
{% block main %}
  <section id="slot">
    <div class="statistics-title">
      <h2>Statistika</h2>
    </div>

    <div class="person-and-sales-statistics">
      <div class="custom-container">
        <div class="row row-gap-4">
          <div class="col-4">
            <div class="box">
              <div class="d-flex justify-content-between">
                <div class="d-flex gap-2">
                  <div>
                    <i class="fa-solid fa-user-check blue-user"></i>
                  </div>
                  <div>
                    <p class="new-users">Yeni istifadəçilər</p>
                    <p class="users-count">15,000</p>
                  </div>
                </div>
                <div class="chart-box">
                  <i class="fa-solid fa-chart-simple blue-chart"></i>
                </div>
              </div>
              <div class="d-flex gap-3 mt-3">
                <div>
                  <p class="increase-title">Bu həftə qədər olan artım</p>
                </div>
                <div class="increase-statistic">+200</div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="box">
              <div class="d-flex justify-content-between">
                <div class="d-flex gap-2">
                  <div>
                    <i class="fa-solid fa-user-check green-user"></i>
                  </div>
                  <div>
                    <p class="new-users">Aktiv istifadəçilər</p>
                    <p class="users-count">15,000</p>
                  </div>
                </div>
                <div class="chart-box">
                  <i class="fa-solid fa-chart-simple green-chart"></i>
                </div>
              </div>
              <div class="d-flex gap-3 mt-3">
                <div>
                  <p class="increase-title">Bu həftə qədər olan artım</p>
                </div>
                <div class="increase-statistic">+200</div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="box">
              <div class="d-flex justify-content-between">
                <div class="d-flex gap-2">
                  <div>
                    <i class="fa-solid fa-percent orange-percentage"></i>
                  </div>
                  <div>
                    <p class="new-users">Yeni istifadəçilər</p>
                    <p class="users-count">15,000</p>
                  </div>
                </div>
                <div class="chart-box">
                  <i class="fa-solid fa-chart-simple orange-chart"></i>
                </div>
              </div>
              <div class="d-flex gap-3 mt-3">
                <div>
                  <p class="increase-title">Bu həftə qədər olan artım</p>
                </div>
                <div class="orange-increase-statistic">+200</div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="box">
              <div class="d-flex justify-content-between">
                <div class="d-flex gap-2">
                  <div>
                    <i class="fa-solid fa-user-check blue-user"></i>
                  </div>
                  <div>
                    <p class="new-users">Yeni istifadəçilər</p>
                    <p class="users-count">15,000</p>
                  </div>
                </div>
                <div class="chart-box">
                  <i class="fa-solid fa-chart-simple blue-chart"></i>
                </div>
              </div>
              <div class="d-flex gap-3 mt-3">
                <div>
                  <p class="increase-title">Bu həftə qədər olan artım</p>
                </div>
                <div class="increase-statistic">+200</div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="box">
              <div class="d-flex justify-content-between">
                <div class="d-flex gap-2">
                  <div>
                    <i class="fa-solid fa-user-check green-user"></i>
                  </div>
                  <div>
                    <p class="new-users">Aktiv istifadəçilər</p>
                    <p class="users-count">15,000</p>
                  </div>
                </div>
                <div class="chart-box">
                  <i class="fa-solid fa-chart-simple green-chart"></i>
                </div>
              </div>
              <div class="d-flex gap-3 mt-3">
                <div>
                  <p class="increase-title">Bu həftə qədər olan artım</p>
                </div>
                <div class="increase-statistic">+200</div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="box">
              <div class="d-flex justify-content-between">
                <div class="d-flex gap-2">
                  <div>
                    <i class="fa-solid fa-percent orange-percentage"></i>
                  </div>
                  <div>
                    <p class="new-users">Yeni istifadəçilər</p>
                    <p class="users-count">15,000</p>
                  </div>
                </div>
                <div class="chart-box">
                  <i class="fa-solid fa-chart-simple orange-chart"></i>
                </div>
              </div>
              <div class="d-flex gap-3 mt-3">
                <div>
                  <p class="increase-title">Bu həftə qədər olan artım</p>
                </div>
                <div class="orange-increase-statistic">+200</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="statistics-middle">
      <div class="d-flex gap-4">
        <div class="middle-1">
          <div class="income-growth">
            <div class="d-flex justify-content-between">
              <div>
                <h6>Gəlir artımı</h6>
                <p class="weekend-report">Həftəlik Hesabat</p>
              </div>
              <div>
                <h6>₼50,000.00</h6>
                <p class="green-income">₼10k</p>
              </div>
            </div>
            <div>
              <img src="images/mountain-chart.png" alt="" />
            </div>
          </div>
        </div>
        <div class="middle-2">
          <div class="customer-overview">
            <div class="title">Müştəri Baxışı</div>
            <div class="d-flex justify-content-around">
              <div class="subtotal-box">
                <div class="d-flex">
                  <div class="green-point"></div>
                  <p class="subtotal-p">Ümumi: 500</p>
                </div>
                <div class="d-flex">
                  <div class="yellow-point"></div>
                  <p class="subtotal-p">Yeni: 500</p>
                </div>
                <div class="d-flex">
                  <div class="blue-point"></div>
                  <p class="subtotal-p">Aktiv: 500</p>
                </div>
              </div>
              <div class="round-chart">
                <div>
                  <img src="images/round-chart.png" alt="" />
                </div>
                <div class="img-content">
                  <p>Müştəri Hesabatı</p>
                  <p>1500</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="statistics-under">
      <div class="statistics-container">
        <div class="statistics-header d-flex justify-content-between">
          <div>
            <h3>Qazanc Statistikası</h3>
            <p>İllik qazancın icmalı</p>
          </div>
          <div class="dropdown">
            <select name="year" id="year">
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
            </select>
          </div>
        </div>
        <div class="statistics-chart">
          <canvas id="earningsChart"></canvas>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
