{% extends 'layout.html' %}
{% block main %}
  <section id="slot">
    <div class="treatment-title">
      <h2>Yeni müalicə əlavə et</h2>
    </div>

    <div class="treatment-process">
      <div class="treatment-process-upside d-flex gap-2 justify-content-center">
        <div class="create-treatment element-1 d-flex">
          <div class="treatment-box">
            <div class="treatment-content">
              <input disabled class="title-input" type="text" placeholder="Başlıq" />
              <br />
              <hr style="padding: 0px; margin: 0px" />
              <textarea disabled class="description-input" placeholder="Açıqlama"></textarea>
            </div>
          </div>
          <div class="broken-box">
            <div class="broken-line">
              ----------<i class="fa-solid fa-chevron-right"></i>
            </div>
            <div class="treatment-icon">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
        <div class="create-treatment element-2 d-flex">
          <div class="treatment-box">
            <div class="treatment-content">
              <input disabled class="title-input" type="text" placeholder="Başlıq" />
              <br />
              <hr style="padding: 0px; margin: 0px" />
              <textarea disabled class="description-input" placeholder="Açıqlama"></textarea>
            </div>
          </div>
          <div class="broken-box">
            <div class="broken-line">
              ----------<i class="fa-solid fa-chevron-right"></i>
            </div>
            <div class="treatment-icon">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
        <div class="create-treatment element-3 last-create-treatment">
          <div class="treatment-box">
            <div class="treatment-content">
              <input disabled class="title-input" type="text" placeholder="Başlıq" />
              <br />
              <hr style="padding: 0px; margin: 0px" />
              <textarea disabled class="description-input" placeholder="Açıqlama"></textarea>
            </div>
          </div>
          <div>
            <div class="last-element-broken">
              <div class="last-element-broken-line">
                ----------<i class="fa-solid fa-chevron-right last-element-arrow-icon"></i>
              </div>
              <div class="last-element-treatment-icon">
                <i class="fa-solid fa-plus last-element-treatment-icon-i"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="treatment-process-underside d-flex gap-2 justify-content-center">
        <div class="create-treatment element-6 d-flex">
          <div class="treatment-box">
            <div class="treatment-content">
              <input disabled class="title-input" type="text" placeholder="Başlıq" />
              <br />
              <hr style="padding: 0px; margin: 0px" />
              <textarea disabled class="description-input" placeholder="Açıqlama"></textarea>
            </div>
          </div>
        </div>
        <div class="create-treatment element-5 d-flex">
          <div class="broken-box">
            <div class="treatment-icon">
              <i class="fa-solid fa-plus"></i>
            </div>
            <div class="broken-line">
              <i class="fa-solid fa-chevron-left"></i>----------
            </div>
          </div>
          <div class="treatment-box">
            <div class="treatment-content">
              <input disabled class="title-input" type="text" placeholder="Başlıq" />
              <br />
              <hr style="padding: 0px; margin: 0px" />
              <textarea disabled class="description-input" placeholder="Açıqlama"></textarea>
            </div>
          </div>
        </div>
        <div class="create-treatment element-4 d-flex last-create-treatment">
          <div class="broken-box">
            <div class="treatment-icon">
              <i class="fa-solid fa-plus"></i>
            </div>
            <div class="broken-line">
              <i class="fa-solid fa-chevron-left"></i>----------
            </div>
          </div>
          <div class="treatment-box">
            <div class="treatment-content">
              <input disabled class="title-input" type="text" placeholder="Başlıq" />
              <br />
              <hr style="padding: 0px; margin: 0px" />
              <textarea disabled class="description-input" placeholder="Açıqlama"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="confirm-create-treatment">
        <button>Təsdiqlə</button>
      </div>
      <div class="created-treatments">
        <div class="created-treatments-title">
          <h2>Müalicə prosesləri</h2>
        </div>
        <div class="treatment-process-upside d-flex gap-2 justify-content-center">
          <div class="create-treatment d-flex">
            <div class="treatment-box">
              <div class="treatment-content">
                <input disabled class="title-input" type="text" placeholder="Başlıq" />
                <br />
                <hr style="padding: 0px; margin: 0px" />
                <textarea disabled class="description-input" placeholder="Açıqlama"></textarea>
              </div>
            </div>
            <div class="broken-box">
              <div class="broken-line">
                ----------<i class="fa-solid fa-chevron-right"></i>
              </div>
              <div class="treatment-icon">
                <i class="fa-regular fa-clock"></i>
              </div>
            </div>
          </div>
          <div class="create-treatment d-flex">
            <div class="treatment-box">
              <div class="treatment-content">
                <input disabled class="title-input" type="text" placeholder="Başlıq" />
                <br />
                <hr style="padding: 0px; margin: 0px" />
                <textarea disabled class="description-input" placeholder="Açıqlama"></textarea>
              </div>
            </div>
            <div class="broken-box">
              <div class="broken-line">
                ----------<i class="fa-solid fa-chevron-right"></i>
              </div>
              <div class="treatment-icon">
                <i class="fa-regular fa-clock"></i>
              </div>
            </div>
          </div>
          <div class="create-treatment last-create-treatment">
            <div class="treatment-box">
              <div class="treatment-content">
                <input disabled class="title-input" type="text" placeholder="Başlıq" />
                <br />
                <hr style="padding: 0px; margin: 0px" />
                <textarea disabled class="description-input" placeholder="Açıqlama"></textarea>
              </div>
            </div>
            <div>
              <div class="last-element-broken">
                <div class="last-element-broken-line">
                  ----------<i class="fa-solid fa-chevron-right last-element-arrow-icon"></i>
                </div>
                <div class="last-element-treatment-icon">
                  <i class="fa-regular fa-clock last-element-treatment-icon-i"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="treatment-process-underside d-flex gap-2 justify-content-center">
          <div class="create-treatment d-flex">
            <div class="treatment-box">
              <div class="treatment-content">
                <input disabled class="title-input" type="text" placeholder="Başlıq" />
                <br />
                <hr style="padding: 0px; margin: 0px" />
                <textarea disabled class="description-input" placeholder="Açıqlama"></textarea>
              </div>
            </div>
            <div class="broken-box">
              <div class="broken-line">
                <i class="fa-solid fa-chevron-left"></i>----------
              </div>
              <div class="treatment-icon">
                <i class="fa-regular fa-clock"></i>
              </div>
            </div>
          </div>
          <div class="create-treatment d-flex">
            <div class="treatment-box">
              <div class="treatment-content">
                <input disabled class="title-input" type="text" placeholder="Başlıq" />
                <br />
                <hr style="padding: 0px; margin: 0px" />
                <textarea disabled class="description-input" placeholder="Açıqlama"></textarea>
              </div>
            </div>
            <div class="broken-box">
              <div class="broken-line">
                <i class="fa-solid fa-chevron-left"></i>----------
              </div>
              <div class="treatment-icon">
                <i class="fa-regular fa-clock"></i>
              </div>
            </div>
          </div>
          <div class="create-treatment last-create-treatment">
            <div class="treatment-box">
              <div class="treatment-content">
                <input disabled class="title-input" type="text" placeholder="Başlıq" />
                <br />
                <hr style="padding: 0px; margin: 0px" />
                <textarea disabled class="description-input" placeholder="Açıqlama"></textarea>
              </div>
            </div>
            <div></div>
          </div>
        </div>
      </div>
      <div class="treatment-content-popup">
        <div class="treatment-content-popup-box">
          <div class="treatment-content-popup-content">
            <input class="treatment-content-popup-title-input" type="text" placeholder="Başlıq" />
            <br />
            <hr style="padding: 0px; margin: 0px" />
            <textarea class="treatment-content-popup-description-input" placeholder="Açıqlama"></textarea>
          </div>
        </div>
        <div class="treatment-content-popup-btns d-flex justify-content-center gap-5">
          <button class="treatment-content-popup-close">Çıxış</button>
          <button class="treatment-content-popup-confirm">Təsdiq et</button>
        </div>
      </div>
      <div class="treatment-clock-popup">
        <div class="treatment-clock-popup-img">
          <img src="images/treatment-clock-popup-img.png" alt="" />
        </div>
        <div class="treatment-clock-popup-middle">
          <h2>Saat təyini</h2>
          <h4>Saat</h4>
          <div class="treatment-clock-popup-middle-time">
            <input type="time" />
          </div>
          <hr />
        </div>

        <div class="treatment-clock-popup-btns d-flex justify-content-center gap-5">
          <button class="treatment-clock-popup-close">Çıxış</button>
          <button class="treatment-clock-popup-confirm">Təsdiq et</button>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
